html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Co-Crop
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap")
  body
    .navbar
      .navbar-wrapper
        a(href="index.html")
          img.navbar-logo(src="../assets/logo.png", alt="Logo", class="navbar-logo")
        .searchInput
          form(action="/search", method="POST")
            input(type="text", placeholder="Search for produce...")
          .resultBox
          .icon &#128269;
        ul.navbar-links
          li
            a(href="sell.html") Sell Produce
          li
            a(href="gettingStarted.html") Getting Started

    section.content-section
      .center-wrapper
        .grid-container
          each name, index in namesArray
            .grid-item
              .card
                .card-wrapper
                  h2= name
                  p Content for #{name}
                  p Product: #{productName[index]}
                  p Price: #{price[index]}
                  p Zip Code: #{zip_code[index]}
                  button.buy-button Buy

    footer
      .footer__copyright
        a &copy; Co-Crop. All Rights Reserved
      a(href="index.html")
        img.footer-logo-img(src="../assets/logo.png", alt="logo", class="footer-logo-img")
    script(src="search.js")
    script(src="imageslider.js")

